main {
  position: relative;
}

.features {
  margin-top: 200px;


  &__bg {
    width: 2131px;
    height: 2131px;
    transform: rotate(12deg);
    position: absolute;
    top: 2135px;
    left: 190px;
    z-index: 0;
  }

  &__bg-triangle {
    width: 2131px;
    height: 2131px;
    transform: skew(30deg);
    // -moz-transform: skew(20deg);
    // -o-transform: skew(20deg);
    background: linear-gradient(135.31deg, #9ffff19d 1%, #11423946 30.14%, #020e0c13 40.6%);
  }

  &__title {
    position: relative;

    p {
      font-weight: 700;
      font-size: 64px;
      line-height: 150%;
      color: #FFFFFF;
    }
  }

  &__items {
    display: flex;
    margin-top: 79px;
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 100px;
    }

    li {
      display: flex;
      column-gap: 65px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        letter-spacing: -0.1px;
      }

      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
      }

      a {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #1EEBCD;
      }
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    padding: 60px;
    row-gap: 60px;
    background: rgba(2, 14, 12, 0.01);
    backdrop-filter: blur(20px);
  }

  &__item-left1 {
    border: 3px solid;
    border-image: linear-gradient(55.05deg, #99FFF0 20.45%, #1A6358 26.21%, #000 75.28%);
    border-image-slice: 1;
  }

  &__item-left2 {
    border: 3px solid;
    border-image: linear-gradient(125.05deg, #99FFF0 20.45%, #1A6358 26.21%, #000 75.28%);
    border-image-slice: 1;
  }

  &__item-left3 {
    border: 3px solid;
    border-image: linear-gradient(165.05deg, #99FFF0 20.45%, #1A6358 26.21%, #000 75.28%);
    border-image-slice: 1;
  }

  &__item-right {
    display: flex;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  &__footer-left {
    display: flex;
    flex-direction: column;
    width: 48.87%;
    row-gap: 60px;

    h2 {
      font-weight: 700;
      font-size: 64px;
      line-height: 150%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #1EEBCD;
    }

    p {
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FFFFFF;
    }
  }

  &__footer-btn {
    width: 82.54%;
    height: 87px;
    background: #1EEBCD;
    transition: 0.3s;
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 4px 67px rgba(30, 235, 205, 0.6);
    }

    &:active {
      margin-top: 5px;
      height: 83px;
      width: 81%;
      margin-left: 2.5px;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: #020E0C;
      justify-content: center;
      align-items: center;
      

    }
  }

  &__footer-right {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    width: 48.84%;

    p {
      margin-bottom: 20px;
    }
  }
}

.btn {}