/*
!----------------------- Обнуляющий стиль --------------------!
*/
@import "_nullstyle";
/*
!---------------------- Подключения шрифта -------------------!
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Raleway:ital,wght@0,400;0,700;0,900;1,900&display=swap');
/*
!----------------------  -------------------!
*/
body{
  font-family: 'Raleway';
  background: #000;
  overflow-x: hidden;
  color: #fff;
}
//font-family: 'Inter', sans-serif;
//font-family: 'Raleway', sans-serif;
.u-container{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}
/*
!-----------------------header---------------------!
*/
@import "_header";
/*
!-----------------------hero---------------------!
*/
@import "_hero";
/*
!-----------------------features---------------------!
*/
@import "_features";
/*
!-----------------------footer---------------------!
*/
@import "_footer";